<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link rel="stylesheet" href="__TEMP__/{$style}/public/css/ydui.css"/>
    {block name="anthonycss"}
    <!--页面css-->
    {/block}
    <script src="__TEMP__/{$style}/public/js/ydui.flexible.js"></script>
</head>
<body>
{include file='wap/anthony163/url'/}
<!--内容-->
{block name="content"}

{/block}
<!--内容结束-->
<script src="__TEMP__/{$style}/public/js/jquery214.min.js"></script>
<script src="__TEMP__/{$style}/public/js/common.js"></script>
<script src="__TEMP__/{$style}/public/js/ydui.js"></script>
{block name="anthonyjs"}
<!--页面JS文件-->
{/block}
{block name="anthonyjavascript"}
<!--页面JS代码-->
{/block}
</body>
</html>
